<table class="table table-hover shadow-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Population</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; let i = index" class="animate__animated animate__fadeInUp">
      <td>{{ i + 1 }}</td>
      <td>
        <img
          [src]="country.flags.svg"
          [alt]="country.name.official"
          style="width: 28.5px; height: auto"
        />
      </td>
      <td>{{ country.name.common }}</td>
      <td>{{ country.population | number }}</td>
      <td>
        <a [routerLink]="['/country', country.ccn3]"><img src="/assets/show-icon.svg"></a>
      </td>
    </tr>
  </tbody>
</table>
